In [1]:
#Dependencies

import pandas as pd
import numpy as np
import requests
import json
import csv
import gmaps

In [2]:
file ="Data/vehicles.csv"
vehicles_df = pd.read_csv(file)
vehicles_df.head()

,Tow Date,Make,Style,Color,Plate,State,Towed to Address,Tow Facility Phone,Inventory Number,day_of_week
0,2019-03-21,ACUR,4T,BLK,AZ38933,IL,701 N. Sacramento,(773) 265-7605,6954475,Thursday
1,2019-03-21,ACUR,LL,SIL,E695295,IL,400 E. Lower Wacker,(312) 744-7550,6954505,Thursday
2,2019-03-21,AUDI,LL,BLK,AW30759,IL,701 N. Sacramento,(773) 265-7605,6954521,Thursday
3,2019-03-21,AUDI,SW,DBL,TAIRRE1,IL,701 N. Sacramento,(773) 265-7605,6954552,Thursday
4,2019-03-21,BMW,LL,BLK,AT56204,IL,701 N. Sacramento,(773) 265-7605,6954562,Thursday

In [3]:
# #Question 5: To which facility is a car most likely towed?
# # Dependencies
# import requests
# import json

# # Google developer API key
# from config import gkey

# # Target city
# target_address = "10255 W. Zemke Blvd, Chicago, Illinois"

# # Build the endpoint URL
# target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
#     'address={0}&key={1}').format(target_address, gkey)

In [4]:
import csv

with open('address.csv', 'w') as csvfile:
    fieldnames = ['address', 'Lat', 'Lng', "Count"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'address': '701 N. Sacramento', 'Lat': '41.893522', 'Lng': '-87.7011050', 'Count':'2203'})
    writer.writerow({'address': '400 E. Lower Wacker', 'Lat': '41.8875727', 'Lng': '-87.615866', 'Count':'87'})
    writer.writerow({'address': '10300 S. Doty','Lat': '41.7044335', 'Lng': '-87.58761469999999', 'Count': '2315'})
    writer.writerow({'address': "Chicago O'hare International Airport remote lot E.",'Lat': '41.9926381', 'Lng': '-87.8811369', 'Count': '5'})

In [5]:
# import csv
file = "Data/address.csv"
address_df=pd.read_csv(file)
address_df.head()

,address,Lat,Lng,Count
0,701 N. Sacramento,41.893522,-87.701105,2203
1,400 E. Lower Wacker,41.887573,-87.615866,87
2,10300 S. Doty,41.704434,-87.587615,2315
3,Chicago O'hare International Airport remote lo...,41.992638,-87.881137,5

In [6]:
# vehicles_df=pd.DataFrame(vehicles_df)
# address_df=pd.DataFrame(address_df)

# #Visualize
# print(len(address_df))                         
# address_df.head()

# print(len(vehicles_df))
# vehicles_df.head()

In [7]:
address_df_complete = pd.merge(vehicles_df, address_df, left_on='Towed to Address',
                               right_on='address',
                              how = 'inner')

address_df_complete.to_csv(
"../Project_1/address_df_complete.csv", encoding="utf-8", index=False)

#Visualize
address_df_complete.head()

,Tow Date,Make,Style,Color,Plate,State,Towed to Address,Tow Facility Phone,Inventory Number,day_of_week,address,Lat,Lng,Count
0,2019-03-21,ACUR,4T,BLK,AZ38933,IL,701 N. Sacramento,(773) 265-7605,6954475,Thursday,701 N. Sacramento,41.893522,-87.701105,2203
1,2019-03-21,AUDI,LL,BLK,AW30759,IL,701 N. Sacramento,(773) 265-7605,6954521,Thursday,701 N. Sacramento,41.893522,-87.701105,2203
2,2019-03-21,AUDI,SW,DBL,TAIRRE1,IL,701 N. Sacramento,(773) 265-7605,6954552,Thursday,701 N. Sacramento,41.893522,-87.701105,2203
3,2019-03-21,BMW,LL,BLK,AT56204,IL,701 N. Sacramento,(773) 265-7605,6954562,Thursday,701 N. Sacramento,41.893522,-87.701105,2203
4,2019-03-21,BUIC,4D,GRN,BD73021,IL,701 N. Sacramento,(773) 265-7605,6954488,Thursday,701 N. Sacramento,41.893522,-87.701105,2203

In [8]:
# #Get the sum of tows per location
# address_df_complete.groupby('address').count()


# #Get the number of tows per day per location
# address_df_complete.groupby('address')['Tow Date'].count()
# #print(address_df_complete.groupby('address'))

# # address_df_complete.agg({
# #    "address": "count",
# #     "Lat": "mean",     
# #     "Lng": "mean",
# #  })

# # #address_df_complete.to_csv(
# #  #"../Project_1/address_df_complete.csv", encoding="utf-8", index=False)

In [9]:
# import csv
file = "Data/address.csv"
address_df=pd.read_csv(file)
address_df.head()

,address,Lat,Lng,Count
0,701 N. Sacramento,41.893522,-87.701105,2203
1,400 E. Lower Wacker,41.887573,-87.615866,87
2,10300 S. Doty,41.704434,-87.587615,2315
3,Chicago O'hare International Airport remote lo...,41.992638,-87.881137,5

In [10]:
#Heatmap of Towed to Address
# Configure gmaps with API key
gmaps.configure(api_key="AIzaSyAMb9LRRnNqpIAaIzRvwHYNs6V5N5Hk5dU")

In [11]:
address_df = pd.read_csv("address.csv")
address_df.head()

# with open('address.csv', 'w') as csvfile:
#     fieldnames = ['address', 'Lat', 'Lng', "Count"]
#     writer = csv.DictWriter(csvfile, fieldnames=fieldnames)


#Store 'Lat' and 'Lng' into locations
locations = address_df[["Lat", "Lng"]].astype(float)
Count = address_df["Count"].astype(float)

In [12]:
#Crate Heatmap layer
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Count, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))